@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .footerButton {
        @apply bg-[#0029FF] aspect-square rounded-full p-3 text-white flex justify-center items-center shadow-[0_0_10px_rgba(0,0,0,.5)] cursor-pointer hover:scale-[0.95];
    }

    .headerIcon {
        @apply hidden md:flex items-center justify-center h-10 bg-[#3683f0] rounded-full aspect-square text-white cursor-pointer hover:scale-[0.95];
    }
}

html {
    font-size: 16px;
}

::-webkit-scrollbar{
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
